/*
 * Mirrors config/rofi/themes/DarkBlueFork.rasi
 * Wofi auto-loads this from ~/.config/wofi/style.css
 */

window {
    background-color: transparent;
    font-family: 'Hack', 'JetBrains Mono';
}

#outer-box {
    background-color: #160021;
    border: 0;
    padding: 10px 8px;
    border-radius: 8px;
    border: 1px solid #dbdfbc;
}

#input {
    background-color: #160021;
    color: #dbdfbc;
    padding: 1px 8px;
    font-size: 16px;
    margin-bottom: 6px;
}   

#inner-box {
    padding: 2px 0 0;
}

#scroll {
    padding: 0;
}

#entry {
    padding: 4px 6px;
    color: #b9bba3;
}

#text {
    font-size: 16px;
    background-color: transparent;
}

#entry:selected {
    background-color: #E5FF00;
    color:#160021;
}

#entry:selected #text {
    color: #160021;
    font-weight: bold;
}
