* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #170e23;
    /* border-bottom: 2px solid rgba(51, 204, 255, 0.25); */
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #33ccff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    /* background-color: #a37800; */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #6272a4;
}

#workspaces button:hover {
    background: rgba(51, 204, 255, 0.1);
    color: #f8f8f2;
}

#workspaces button.active,
#workspaces button.focused {
    color: #33ccff;
    box-shadow: inset 0 -3px #33ccff;
}

#workspaces button.urgent {
    background-color: #ff5555;
    color: #170e23;
}

#mode {
    background-color: #33ccff;
    color: #170e23;
    box-shadow: inset 0 -3px #33ccff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #f8f8f2;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    color: #f8f8f2;
}

#battery.charging, #battery.plugged {
    color: #00ff99;
}

#battery.warning:not(.charging) {
    color: #f1fa8c;
}

#battery.critical:not(.charging) {
    color: #ff5555;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #170e23;
        background-color: #ff5555;
    }
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #ff5555;
}

#power-profiles-daemon.balanced {
    color: #33ccff;
}

#power-profiles-daemon.power-saver {
    color: #00ff99;
}

label:focus {
    background-color: #000000;
}

#cpu, #memory, #disk, #backlight {
    color: #f8f8f2;
}

#network {
    color: #f8f8f2;
}

#network.disconnected {
    color: #ff5555;
}

#pulseaudio {
    color: #f8f8f2;
}

#pulseaudio.muted {
    color: #6272a4;
}

#wireplumber {
    color: #f8f8f2;
}

#wireplumber.muted {
    color: #6272a4;
}

#custom-media {
    color: #f8f8f2;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #00ff99;
}

#custom-media.custom-vlc {
    color: #f1fa8c;
}

#temperature {
    color: #f8f8f2;
}

#temperature.critical {
    color: #ff5555;
}

#tray {
    color: #f8f8f2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff5555;
    color: #170e23;
}

#idle_inhibitor {
    color: #f8f8f2;
}

#idle_inhibitor.activated {
    color: #33ccff;
}

#mpd {
    color: #f8f8f2;
}

#mpd.disconnected {
    color: #ff5555;
}

#mpd.stopped {
    color: #6272a4;
}

#mpd.paused {
    color: #f1fa8c;
}

#language {
    color: #33ccff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #f8f8f2;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(51, 204, 255, 0.15);
    color: #33ccff;
}

#scratchpad {
    color: #6272a4;
}

#scratchpad.empty {
    color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #f8f8f2;
}

#privacy-item.screenshare {
    background-color: #f1fa8c;
    color: #170e23;
}

#privacy-item.audio-in {
    background-color: #00ff99;
    color: #170e23;
}

#privacy-item.audio-out {
    background-color: #33ccff;
    color: #170e23;
}
