* {
    font-family: monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: #170E23;
    color: #f8f8f2;
}

#workspaces button {
    padding: 0 8px;
    background: #001621;
    color: #808B90;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    background: #160021;
    color: #E5FF00;
}

#workspaces button.urgent {
    background: #FF0062;
    color: #f8f8f2;
}

#clock,
#battery,
#tray {
    padding: 0 10px;
    color: #f8f8f2;
}

#battery.warning {
    color: #E5FF00;
}

#battery.critical {
    color: #FF0062;
}

#mode {
    background: #160021;
    color: #E5FF00;
    padding: 0 10px;
}
